*{
	font-size: medium;
}
section#areadoGame{
	margin: auto;
	
	
}
canvas#game{
	position: absolute;
	top:10px;
	left:11%;
	border: 1px solid black;
}
canvas#workShop{
	position: absolute;
	top:42px;
	left:11.2%;
	border: 1px solid black;
}
nav{
	width: 1000px;
}
nav ul li{
	display: inline;
	
}

#li-cadastro{
	position: absolute;
	left: 650px;
	top: 6px;
	font-size: 2em;
	font-weight: 700;
}
section#cadastroFlutuante{
	visibility: hidden;
	position: absolute;
	left: 0px;
	top: 10px;
	width: 265px;
	
	border: 3px solid black;
	background-color: lightblue;
}